<section>
  <div class="page-header">
    <h1 ng-bind="vm.company.name"></h1>
  </div>

  <div class="pull-right"
       ng-show="vm.company.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="companies.edit({ companyId: vm.company._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <small>
   <em class="text-muted">
     <span ng-bind="vm.company.headquarters"></span>
     WebSite
     <span ng-bind="vm.company.website"></span>
     <!-- <span ng-if="vm.company.user"
            ng-bind="vm.company.user.displayName"></span>
      <span ng-if="!vm.company.user">Deleted User</span>-->
    </em>
  </small>

 <div>
  <p class="text-info" ng-bind="vm.company.description"></p>
 </div>

  <div>
    <em class="text-primary">
    <BUTTON class="btn-primary" ng-click="vm.showOpenPositions(vm.company._id)">
      
        Current Open Positions
      
    </BUTTON>

    </em>
  </div ng-show="vm.jobFlag">


  <div class="list-group">
    <a ng-repeat="job in vm.jobs"
       ui-sref="jobs.view({ jobId: job._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="job.created | date:'mediumDate'"></span>
        by
        <span ng-if="job.user" ng-bind="job.user.displayName"></span>
        <span ng-if="!job.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="job.name"></h4>
    </a>
  </div>


  <div>
    
  </div>

</section>
